# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS
*.ipch
*.suo
*.db
*.sqlite
*.json
*.sln
*.filters
*.vcxproj
*.user
*.opendb
*.db-shm
*.db-wal
*.pdb
*.idb
*.tlog
*.recipe
*.ilk
*.log
*.txt
